*{
    margin: 0;
    padding: 0;
}

body {
   display: block   ;
}

@media (min-width: 400px) {
body {
    font-size: 18pxpx;
}

}

@media (min-width: 1200px) {
body {
    font-size: 24pxpx;
}

}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
  min-height: 150px;
    width: 100%;
    height: 250px;
}
header > h1 {
     font-family: 'Passion One', cursive;

   font-variant: small-caps;;
   font-weight: bold;
    font-size: 10vw;
}   


header > p {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}


a {
font-size: 1em;
text-decoration: none;
font-weight: bold;
color: white;
    cursor: pointer;
    
}
a:hover {
text-decoration: underline;
color: white;

}
header > a:hover{
    color: burlywood;
    transition: 1s;
}

article {
    margin-top: 50px;
}

article > p{
     padding-left: 30px;
    line-height: 60 px;
    padding-bottom: 20px;
    font-size: 2em;
    font-family:  'Sriracha', cursive;

    font-weight: bold;
    line-height: 2em;
}
.p5 {
    background-color: rgb(119, 111, 111);
}
footer {
    text-align: center;
    background-color: black;
color: white ;
}
footer > a {
    text-decoration: none;
    color: rgb(202, 195, 195);

}
footer > a:hover {
    color: purple;
    transition-duration: 1s;
    cursor: pointer;
}