@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --fonte1:Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'passion one' , cursive;
    --fonte3: 'sriracha' , cursive;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
   display: block;
}

header {
background-color: black;
color: white;
text-align: center;
}

header > h1 {
    font-family: var(--fonte2);
   font-variant: small-caps;
   font-weight: bold;
   font-size: 10vw;
   padding-top: 50px;
}   


header > p {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 1rem;    
padding-bottom: 50px;
}


a {
font-size: 1em;
text-decoration: none;
font-weight: bold;
color: white;
cursor: pointer;
    
}

a:hover {
text-decoration: underline;
color: white;

}

header > a:hover{
    color: burlywood;
    transition: 1s;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}




section > p{
    font-size: 3.5vw;
    padding-left: 30px;
    line-height: 2em;
    padding-bottom: 20px;
    font-family: var(--fonte3);
    font-weight: bold;
}

 
.normal {
background-color: white;
}


.imagem {
    background-color: rgba(51, 51, 51,);
    color: rgb(255, 255, 255);
    box-shadow: inset 4px 6px 13px 0px rgba(0, 0, 0, 0.425);
}

.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.233);
    width: 400px;
    text-shadow: 1px 1px 1px black;

}

#img01 {
    background-image: url(img/background001.jpg);
    background-attachment: fixed;
    background-position: right center;
    background-size: cover;
}

#img02 {
    background-image: url(img/background002.jpg);
    background-attachment: fixed;
    background-position: right center ;
    background-size: cover;
}

footer {
    text-align: center;
    background-color: black;
    color: white ;
}
footer > a {
    text-decoration: none;
    color: rgb(202, 195, 195);

}
footer >p >a:hover {
    color: purple;
    transition-duration: 1s;
    cursor: pointer;
}